name: Build and Deploy to Development

on:
  pull_request:
    branches:
      - main

jobs:
  build-multiarch:
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/internal/dns-ui
      push: true
      tags: |
        pr-${{ github.event.pull_request.number }}-${{ github.run_number }}
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}