name: Build and Deploy to Development

on:
  pull_request:
    branches:
      - main

jobs:
  build-ui-files:
    runs-on: self-hosted
    name: Build UI Files

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Up Environment
        run: make env
        
      - name: Build UI files
        env:
          VITE_SENTRY_ENVIRONMENT: dev
          VITE_SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        run: |
          npm --prefix=frontend run build

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: frontend/node_modules
          key: node-modules-${{ hashFiles('frontend/package.json') }}

      - name: Cache Python venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: python-venv-${{ hashFiles('pyproject.toml') }}

      - name: Upload UI artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ui-files
          path: |
            frontend/dist

  build-multiarch-internal:
    name: Build and Push Multi-Arch Image (Internal)
    needs: build-ui-files
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/internal/dns-ui
      registry: ${{ vars.INTERNAL_REGISTRY_URL }}
      push: true
      tags: |
        pr-${{ github.event.pull_request.number }}-${{ github.run_number }}
      build_args: |
        DNS_SENTRY_ENVIRONMENT=dev
        DNS_LOG_LEVEL=INFO
        DNS_SENTRY_TRACES_SAMPLE_RATE=0.5
        DNS_SENTRY_PROFILES_SAMPLE_RATE=0.5
      sentry_dsn_var_name: DNS_SENTRY_DSN
      download_artifacts: true
      artifact_name: ui-files
      artifact_path: "frontend/dist"
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
      sentry_dsn: ${{ secrets.SENTRY_DSN }}

  update-gitops-manifest:
    name: Update GitOps Manifest (Development)
    needs: build-multiarch-internal
    uses: fricker-studios/github-actions/.github/workflows/update-gitops-manifest.yml@main
    with:
      image_tag: ${{ needs.build-multiarch-internal.outputs.image_tag }}
      gitops_repo: fricker-studios/gitops-dev
      project_source_dir: dns
    secrets:
      GITOPS_ACCESS_TOKEN: ${{ secrets.GITOPS_PAT }}

  argocd-sync:
    name: ArgoCD Sync Application (Development)
    needs: update-gitops-manifest
    uses: fricker-studios/github-actions/.github/workflows/argocd-sync.yml@main
    with:
      application: dns-dev
    secrets:
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}