name: Build and Deploy to Development

on:
  pull_request:
    branches:
      - main

jobs:
  build-multiarch-internal:
    name: Build and Push Multi-Arch Image (Internal)
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/internal/dns-ui
      registry: ${{ vars.INTERNAL_REGISTRY_URL }}
      push: true
      tags: |
        pr-${{ github.event.pull_request.number }}-${{ github.run_number }}
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}

  update-gitops-manifest:
    name: Update GitOps Manifest (Development)
    needs: build-multiarch-internal
    uses: fricker-studios/github-actions/.github/workflows/update-gitops-manifest.yml@main
    with:
      image_tag: ${{ needs.build-multiarch-internal.outputs.image_tag }}
      gitops_repo: fricker-studios/gitops-dev
      project_source_dir: dns
    secrets:
      GITOPS_ACCESS_TOKEN: ${{ secrets.GITOPS_PAT }}

  argocd-sync:
    name: ArgoCD Sync Application (Development)
    needs: update-gitops-manifest
    uses: fricker-studios/github-actions/.github/workflows/argocd-sync.yml@main
    with:
      application: dns-dev
    secrets:
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}