name: Build and Deploy to Development

on:
  push:
    branches:
      - main

jobs:
  build-multiarch:
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: alexfricker/dns-ui
      push: true
      tags: |
        latest
    secrets:
      registry_username: ${{ vars.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}