name: Release to Production

on:
  push:
    tags:
      - '*'

jobs:
  build-multiarch-internal:
    name: Build and Push Multi-Arch Image (Internal)
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/internal/dns-ui
      registry: ${{ vars.INTERNAL_REGISTRY_URL }}
      push: true
      tags: |
        v.${{ github.ref_name }}
        latest
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}

  build-multiarch-docker:
    name: Build and Push Multi-Arch Image (Docker Hub)
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: alexfricker/dns-ui
      push: true
      tags: |
        v.${{ github.ref_name }}
        latest

  update-gitops-manifest:
    name: Update GitOps Manifest (Demo)
    needs: [build-multiarch-internal, build-multiarch-docker]
    uses: fricker-studios/github-actions/.github/workflows/update-gitops-manifest.yml@main
    with:
      image_tag: v.${{ github.ref_name }}
      gitops_repo: fricker-studios/gitops-demo
      project_source_dir: dns
    secrets:
      GITOPS_ACCESS_TOKEN: ${{ secrets.GITOPS_PAT }}

  argocd-sync:
    name: ArgoCD Sync Application (Demo)
    needs: update-gitops-manifest
    uses: fricker-studios/github-actions/.github/workflows/argocd-sync.yml@main
    with:
      application: dns-demo
    secrets:
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}