name: Release to Production

on:
  push:
    tags:
      - '*'

jobs:
  build-multiarch-internal:
    name: Build and Push Multi-Arch Image (Internal)
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/internal/dns-ui
      registry: ${{ vars.INTERNAL_REGISTRY_URL }}
      push: true
      tags: |
        v.${{ github.ref_name }}
        latest
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}

  build-multiarch-docker:
    name: Build and Push Multi-Arch Image (Docker Hub)
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: alexfricker/dns-ui
      push: true
      tags: |
        v.${{ github.ref_name }}
        latest